<!doctype html>
<html lang="en">
{% load static%}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <title>Play | {{room_code}}</title>


</head>

<body class="bg-dark">

    <div class="full-page" id="full-page">

        <div class="game flex-column">
            <div class="boardcontainer">
                <div class="board">
                    <div data-cell-index="0" class="space" id="A1"></div>
                    <div data-cell-index="1" class="space" id="A2"></div>
                    <div data-cell-index="2" class="space" id="A3"></div>
                    <div data-cell-index="3" class="space" id="B1"></div>
                    <div data-cell-index="4" class="space" id="B2"></div>
                    <div data-cell-index="5" class="space" id="B3"></div>
                    <div data-cell-index="6" class="space" id="C1"></div>
                    <div data-cell-index="7" class="space" id="C2"></div>
                    <div data-cell-index="8" class="space" id="C3"></div>
                </div>
            </div>
            <button onclick="reset_game()" id="reset"><strong>R e s e t</strong></button>
        </div>
    </div>

    <center>
        <h2>Player's Info</h2>
        <table class="table1" border="1">
            <tr class="heading">
                <td>Game ID</td>
                <th>Main Player</th>
                <th>Room Code</th>
                <th>Opponent</th>
                <th>Game Over</th>
            </tr>
            {% for displaydata in Game %}
            <tr class="heading1">
                <td>{{displaydata.id}}</td>
                <td>{{displaydata.game_creator}}</td>
                <td>{{displaydata.room_code}}</td>
                <td>{{displaydata.game_opponent}}</td>
                <td>{{displaydata.is_over}}</td>
            </tr>
            {% endfor %}
        </table>

        {% if Game.has_previous%}
        <a class="margin-bottom: 20px" href="?page=1">FIRST</a>
        <a class="margin-bottom: 20px"href="?page={{Game.previous_page_number}}">BACK</a>
        {% endif %}
        {{game.number}}<b>/</b>{{game.paginator.num_pages}}
        {% if Game.has_next%}
        <a class="margin-bottom: 50px" href="?page={{Game.next_page_number}}">lOAD MORE</a>
        <a style="margin-bottom: 50px" href="?page={{game.paginator.num_pages}}">LAST PAGE</a>
        {% endif %}
    </center>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>



    <script>

        var room_code = '{{room_code}}'
        var username = '{{username}}'
        var player = username.charAt(0)

        let socket = new WebSocket('ws://localhost:8000/ws/game/' +room_code)

        let gameState = ["","","","","","","","",""]

        let elementArray = document.querySelectorAll('.space')

        elementArray.forEach(function(elem){
            elem.addEventListener("click" , function (event){
                setText(event.path[0].getAttribute('data-cell-index') , player)
            })
        })



        function checkGameEnd(){
            var count = 0;
            gameState.map((game)=>{
                if(game != ""){
                    count++;
                }
            })

            if(count >= 9){
                var data = {'type' : 'over'}
                socket.send(JSON.stringify({data}))
                swal("Good over!" , "Game end no one won" , "warning")
            }
        }


        function reset_game(){

        document.getElementById("A1").innerHTML=""
        document.getElementById("A2").innerHTML=""
        document.getElementById("A3").innerHTML=""
        document.getElementById("B1").innerHTML=""
        document.getElementById("B2").innerHTML=""
        document.getElementById("B3").innerHTML=""
        document.getElementById("C1").innerHTML=""
        document.getElementById("C2").innerHTML=""
        document.getElementById("C3").innerHTML=""

        }


        function checkWon(value , player){
            var won = false;

            if(gameState[0] === value && gameState[1] == value && gameState[2] == value){
                won = true;
            }else if(gameState[3] === value && gameState[4] == value && gameState[5] == value){
                won = true
            }else if(gameState[6] === value && gameState[7] == value && gameState[8] == value){
                won = true
            }
            else if(gameState[0] === value && gameState[3] == value && gameState[6] == value){
                won = true
            }
            else if(gameState[1] === value && gameState[4] == value && gameState[7] == value){
                won = true
            }else if(gameState[2] === value && gameState[5] == value && gameState[8] == value){
                won = true
            }
            else if(gameState[0] === value && gameState[4] == value && gameState[8] == value){
                won = true
            }
            else if(gameState[2] === value && gameState[4] == value && gameState[6] == value){
                won = true
            }

            if(won){
                var data = {'type' : 'end' , 'player' : player}
                socket.send(JSON.stringify({data}))
                swal("Good job!", "You won" , "success")
            }

            checkGameEnd();

        }



        function setText(index , value){
            var data = {
                'player' : player,
                'index' : index,
                'type' : 'running'
            }



            if(gameState[parseInt(index)] == ""){
            gameState[parseInt(index)] = value
            elementArray[parseInt(index)].innerHTML = value

            socket.send(JSON.stringify({
                data
            }))
            checkWon(value , player )
            }else{
                alert("You cannot fill this space")
            }
        }


        function setAnotherUserText(index , value){
            gameState[parseInt(index)] = value
            elementArray[parseInt(index)].innerHTML = value
        }



        socket.onopen = function (e){
            console.log('Socket connected')
        }

        socket.onmessage = function (e){
            var data = JSON.parse(e.data)
            console.log(data)
            if(data.payload.type == 'end' && data.payload.player !== player){
                swal("Oopsy!" , "You lost" , "error")
            }else if(data.payload.type == 'over'){
                swal("Game over!" , "No One Won" , "warning")
                return;
            }else if(data.payload.type == 'running' &&  data.payload.player !== player){
                setAnotherUserText(data.payload.index , data.payload.player)
            }



        }

        socket.onclose = function (e){
            console.log('Socket closed')
        }

    </script>

</body>

</html>